/* 0. Utilities (Common classes) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #002146;
}

.repeated-wrap {
    width: 100%;
    color: #002146;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    color: #000;
    background-color: #fdc800;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    font-weight: bolder;
    border-radius: .5rem;
}

.btn:hover {
    opacity: .6;
    cursor: pointer;
}

.col-2 {
    width: 50%;
}

.text-lighter {
    color: #888;
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin-bottom: 2rem;
    font-weight: 200;
}

.text-white {
    color: #fff;
}

/* 1. CTA */
#CTA {
    background-color: #002146;
}

#CTA .container li {
    display: inline-block;
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 0;
}

#CTA .container li:first-child {
    margin-right: 5rem;
}


#CTA .container i {
    color: #fdc800;
    margin-right: 1rem;
}

#CTA .btn {
    border-radius: 0;
}

/* 2. Header */
header {
    padding: 1rem 0;
}

header .container {
    flex-flow: column;
    align-items: flex-start;
}

header .container h1 {
    font-weight: 500;
    font-size: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

header .container i {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #002146;
    font-size: 1.5rem;
    color: #fdc800;
    line-height: 3rem;
    text-align: center;
    margin-right: 1rem;
}

header .container li {
    display: inline-block;
    font-weight: 300;
    margin-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}

header .container a {
    display: flex;
}

header .container li:hover a {
    color: #fdc800;
}

header .container a.active {
    color: #fdc800;
}

/* 3. Carousel */
#carousel {
    height: 50rem;
    position: relative;
}

#carousel::after {
    content: '';
    width: 100%;
    height: 50rem;
    background-color: #000;
    opacity: 0.4;
}

#carousel .container {
    position: absolute;
    top: 40rem;
    z-index: 2;
}

#carousel .carousel__item {
    background-color: #fff;
    text-align: center;
    width: 32%;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.1);
}

#carousel .carousel__item i {
    color: #fdc800;
    font-size: 3rem;
    margin-bottom: 3rem;

}

#carousel .carousel__item h4 {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

/* 4. About */
#about {
    height: 50rem;
    margin: 25rem 0 5rem;
}

#about .content__text {
    margin-right: 5rem;
}

#about .content__text h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

#about .content__text .btn {
    padding: 1.5rem 3rem;
}


/* 5. Services */
#services {
    margin: 10rem 0;;
}

#services .container {
    flex-flow: wrap;

}

#services .services__item {
    display: flex;
    flex-flow: column;
    background-color: #002146;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
    margin-bottom: 2rem;
    width: 23.5rem;
    border-radius: 0.5rem;
}

#services .services__item:hover {
    transform: translateY(-1rem);
    transition: all .3s ease-in;
    cursor: pointer;
}

#services .services__item i {
    font-size: 4rem;
    margin-bottom: 2rem;
}

#services .services__item p {
    font-size: 1.5rem;
    font-weight: 300;
}

/* 6. Information */
#information {
    background-color: #f6f6f6;
    padding: 6rem 0;
}

#information .information__item {
    display: flex;
    width: 20rem;
}


#information .information__item .number {
    font-size: 5rem;
    font-weight: 600;
    margin-right: 1.5rem;
    color: #212529;
}

#information .information__item:hover .number{
    transform: scale(1.2);
    transition: all .3s ease;
    cursor: pointer;
}

#information .information__item .text {
    text-transform: uppercase;
    margin: auto;
    font-weight: 300;
}

/* 7. Feedback */
#feedback {
    height: 45rem;
    position: relative;
}

#feedback::after {
    content: '';
    width: 100%;
    height: 45rem;
    background-color: #002146;
    opacity: .7;
    position: absolute;
}

#feedback .container{
    position: absolute;
    z-index: 2;
    font-size: 1.3;
}

#feedback .feedback__general {
    padding-right: 3rem;

}

#feedback .feedback__general h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;

}

#feedback .feedback__general p {
    margin-bottom: 2rem;
    font-weight: 200;

}

#feedback .feedback__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feedback .feedback__detail img {
    width: 12rem;
    border-radius: 50%;
    border: 0.5rem solid #fff;
    margin-bottom: 2rem;
}

#feedback .feedback__detail h4 {
    font-size: 2rem;
    font-weight: 500;
    color: #fdc800;
}

#feedback .feedback__detail p {
    font-weight: 200;
    text-align: center;
    margin-bottom: 3rem;
}


/* 8. Posts & events */
#posts-events {
    background-color: #f6f6f6;
    padding: 8rem 0;

}

#posts-events .container h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 4rem
}

/* 8.1 Latest posts */
#posts-events .post-box {
    width: 100%;
    margin-bottom: 3rem;
    padding-right: 3rem;
    background-color: #fff;
}

#posts-events .post-detail {
    padding: 2.5rem;
    display: flex;
    align-items: center;
}

#posts-events .post-detail:hover,
#posts-events .event:hover {
    opacity: .5;
    cursor: pointer;
}

#posts-events .post-detail img {
    width: 15rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
}

#posts-events .post-detail .post-info h4{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#posts-events .post-detail .post-info p {
    font-size: 1.4rem;
    color: #555;
    font-weight: 300;
}

#posts-events .post-detail .date {
    opacity: .6;
}

#posts-events .post-detail .post-info p:last-child {
    margin-top: 1.5rem;
}

#posts-events .view-all-btn {
    text-align: right;
}


#posts-events .view-all-btn .btn{
    padding: 1.5rem 4rem;
}

#posts-events hr {
    width: 87%;
    margin: auto;
    opacity: .2;
}


/* 8.2 Upcoming Events */
#posts-events .upcoming__events {
    margin-left: 3rem;
    transform: translateY(-1.8rem);
}

#posts-events .event {
    background-color: #fff;
    margin-bottom: 2rem;
    display: flex;
}

#posts-events .event .calender {
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

#posts-events .calender .date-month {
    background-color: #fdc800;
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

#posts-events .calender .date {
    font-size: 3rem;
    font-weight: 600;
}

#posts-events .calender .year {
    background-color: #002146;
    width: 10rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

#posts-events .content {
    padding: 2rem;
}

#posts-events .content h5 {
    margin: 2rem 0;
    font-size: 1.6rem;
    font-weight: 500;
}

#posts-events .content p {
    font-size: 1.4rem;
    color: #999;
    font-weight: 300;
    margin-bottom: 1rem;
}

#posts-events .content span {
    font-size: 1.4rem;
    color: #555;
    margin-right: 1rem;
}

#posts-events .content .border {
    border-right: 1px solid #555;
    padding-right: 1rem;
}


/* 9. Footer */
footer {
    background-color: #002146;
    padding: 5rem 0;
}


footer .container {
    flex-flow: column;
    align-items: flex-start;
}

footer .main-footer {
    display: flex;
    width: 100%;
}


footer .contact-feature{
    display: flex;
    margin-right: 3rem;
}

footer .contact-feature .contact {
    width: 70%;
    padding-right: 5rem;
}

footer .container h4 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

footer .container p,
footer .container li {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

footer .container i {
    width: 2rem;
    color: #fdc800;
}

footer .container .quick-links {
    transform: translateX(30%);
   width: 45%;

}

footer .container hr {
   margin: 4rem 0;
   width: 100%;
   border: 0.01px solid #999;
   opacity: .2;
   
}

footer .copy-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .copy-right ul li{
    display: inline-block;
}

footer a {
    color: #fff;
}

footer a:first-child {
    padding-right: 3rem;
}